<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,300italic,400italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="~/Content/css/layout.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <!-- Application Script -->
    <script src="~/Content/app.js"></script>

    <!-- Services -->
    <script src="~/Content/services/configurationService.js"></script>
    <script src="~/Content/services/reviewsService.js"></script>
    <!--Controllers -->
    <script src="~/Content/controllers/homeCtrl.js"></script>
    <script src="~/Content/controllers/contactCtrl.js"></script>
    <script src="~/Content/controllers/menuCtrl.js"></script>
    <script src="~/Content/controllers/peopleCtrl.js"></script>
    <script src="~/Content/controllers/recommendationCtrl.js"></script>
    <!--Directives-->




</head>
<body ng-app="CuserApp">

    <div>
        <nav class="navbar navbar-default navbar-fixed-top" id="top-bar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed menu-button"
                            data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="home">CuSer</a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav hidden-xs menu-list">
                    <li><a ui-sref="menu">Menu</a></li>
                    <li><a ui-sref="recommendation">Recommendation</a></li>
                    <li><a ui-sref="people">People</a></li>
                    <li><a ui-sref="contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg menu-list">
                    <li data-toggle="collapse" data-target="#navbar-collapse"><a ui-sref="menu">Menu</a></li>
                    <li data-toggle="collapse" data-target="#navbar-collapse"><a ui-sref="recommendation">Recommendation</a></li>
                    <li data-toggle="collapse" data-target="#navbar-collapse"><a ui-sref="people">People</a></li>
                    <li data-toggle="collapse" data-target="#navbar-collapse"><a ui-sref="contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <div class="container">
        <div ui-view>

            <!-- HERE GOES INJECTED DIVS-->

        </div>
    </div>

    @RenderBody()
</body>
</html>
